In [1]:
import pandas as pd

In [2]:
ted=pd.read_csv('e://myfiles//ted.csv')

In [3]:
ted.head(1)

,comments,description,duration,event,film_date,languages,main_speaker,name,num_speaker,published_date,ratings,related_talks,speaker_occupation,tags,title,url,views
0,4553,Sir Ken Robinson makes an entertaining and pro...,1164,TED2006,1140825600,60,Ken Robinson,Ken Robinson: Do schools kill creativity?,1,1151367060,"[{'id': 7, 'name': 'Funny', 'count': 19645}, {...","[{'id': 865, 'hero': 'https://pe.tedcdn.com/im...",Author/educator,"['children', 'creativity', 'culture', 'dance',...",Do schools kill creativity?,https://www.ted.com/talks/ken_robinson_says_sc...,47227110

In [4]:
pd.__version__

'1.0.1'

In [5]:
import matplotlib.pyplot as plt
%matlpotlib inline

UsageError: Line magic function `%matlpotlib` not found.

In [ ]:
ted.head()

In [ ]:
ted.shape

In [ ]:
ted.dtypes

In [ ]:
ted.isna().sum()

# which talk provokes the most online discussion

In [ ]:
ted.sort_values('comments').tail()

In [ ]:
ted['Comments_per_view']=ted.comments/ted.views

In [ ]:
ted.sort_values('Comments_per_view').tail()

In [ ]:
ted['views_per_comments']=ted.views/ted.comments

In [ ]:
ted.sort_values('views_per_comments').head()

# plot the number of talks that took place each year

In [ ]:
ted.event.sample(10)

In [ ]:
ted.film_date.head()

In [ ]:
pd.to_datetime(ted.film_date,unit='s').head()

In [ ]:
ted['film_datetime']=pd.to_datetime(ted.film_date,unit='s')

In [ ]:
ted[['event','film_datetime']].sample(5)

In [ ]:
ted.film_datetime.dt.year.head()

In [ ]:
ted.event.str.lower().head()

In [ ]:
ted.film_datetime.dt.year.value_counts()

In [ ]:
ted.film_datetime.dt.year.value_counts().sort_index().plot()

In [ ]:
ted.film_datetime.max()

# Which were the best events in Ted History to attend?

In [ ]:
ted.head(1)

In [ ]:
ted.event.value_counts().head()

In [ ]:
ted.groupby('event').views.mean().head()

In [ ]:
ted.groupby('event').views.mean().sort_values().tail()

In [ ]:
ted.groupby('event').views.agg(['mean','count']).sort_values('mean').tail()

In [6]:
ted.groupby('event').views.agg(['mean','count','sum']).sort_values('sum').tail()

                        mean  count        sum
event
TED2006         3.274345e+06     45  147345533
TED2015         2.011017e+06     75  150826305
TEDGlobal 2013  2.584163e+06     66  170554736
TED2014         2.072874e+06     84  174121423
TED2013         2.302700e+06     77  177307937

# unpacking the ratings data

In [7]:
ted.ratings.head()

0    [{'id': 7, 'name': 'Funny', 'count': 19645}, {...
1    [{'id': 7, 'name': 'Funny', 'count': 544}, {'i...
2    [{'id': 7, 'name': 'Funny', 'count': 964}, {'i...
3    [{'id': 3, 'name': 'Courageous', 'count': 760}...
4    [{'id': 9, 'name': 'Ingenious', 'count': 3202}...
Name: ratings, dtype: object

In [8]:
ted.loc[0,'ratings']

"[{'id': 7, 'name': 'Funny', 'count': 19645}, {'id': 1, 'name': 'Beautiful', 'count': 4573}, {'id': 9, 'name': 'Ingenious', 'count': 6073}, {'id': 3, 'name': 'Courageous', 'count': 3253}, {'id': 11, 'name': 'Longwinded', 'count': 387}, {'id': 2, 'name': 'Confusing', 'count': 242}, {'id': 8, 'name': 'Informative', 'count': 7346}, {'id': 22, 'name': 'Fascinating', 'count': 10581}, {'id': 21, 'name': 'Unconvincing', 'count': 300}, {'id': 24, 'name': 'Persuasive', 'count': 10704}, {'id': 23, 'name': 'Jaw-dropping', 'count': 4439}, {'id': 25, 'name': 'OK', 'count': 1174}, {'id': 26, 'name': 'Obnoxious', 'count': 209}, {'id': 10, 'name': 'Inspiring', 'count': 24924}]"

In [9]:
type(ted.loc[0,'ratings'])

str

In [10]:
import ast

In [11]:
ast.literal_eval(ted.loc[0,'ratings'])

[{'id': 7, 'name': 'Funny', 'count': 19645},
 {'id': 1, 'name': 'Beautiful', 'count': 4573},
 {'id': 9, 'name': 'Ingenious', 'count': 6073},
 {'id': 3, 'name': 'Courageous', 'count': 3253},
 {'id': 11, 'name': 'Longwinded', 'count': 387},
 {'id': 2, 'name': 'Confusing', 'count': 242},
 {'id': 8, 'name': 'Informative', 'count': 7346},
 {'id': 22, 'name': 'Fascinating', 'count': 10581},
 {'id': 21, 'name': 'Unconvincing', 'count': 300},
 {'id': 24, 'name': 'Persuasive', 'count': 10704},
 {'id': 23, 'name': 'Jaw-dropping', 'count': 4439},
 {'id': 25, 'name': 'OK', 'count': 1174},
 {'id': 26, 'name': 'Obnoxious', 'count': 209},
 {'id': 10, 'name': 'Inspiring', 'count': 24924}]

In [12]:
def str_to_list(str_ratings):
    return ast.literal_eval(str_ratings)

In [13]:
str_to_list(ted.loc[0,'ratings'])

[{'id': 7, 'name': 'Funny', 'count': 19645},
 {'id': 1, 'name': 'Beautiful', 'count': 4573},
 {'id': 9, 'name': 'Ingenious', 'count': 6073},
 {'id': 3, 'name': 'Courageous', 'count': 3253},
 {'id': 11, 'name': 'Longwinded', 'count': 387},
 {'id': 2, 'name': 'Confusing', 'count': 242},
 {'id': 8, 'name': 'Informative', 'count': 7346},
 {'id': 22, 'name': 'Fascinating', 'count': 10581},
 {'id': 21, 'name': 'Unconvincing', 'count': 300},
 {'id': 24, 'name': 'Persuasive', 'count': 10704},
 {'id': 23, 'name': 'Jaw-dropping', 'count': 4439},
 {'id': 25, 'name': 'OK', 'count': 1174},
 {'id': 26, 'name': 'Obnoxious', 'count': 209},
 {'id': 10, 'name': 'Inspiring', 'count': 24924}]

ted.ratings.apply(str_to_list).head()

In [14]:
ted['ratings_list']=ted.ratings.apply(lambda x:ast.literal_eval(x))

In [15]:
ted.ratings.apply(ast.literal_eval).head()

0    [{'id': 7, 'name': 'Funny', 'count': 19645}, {...
1    [{'id': 7, 'name': 'Funny', 'count': 544}, {'i...
2    [{'id': 7, 'name': 'Funny', 'count': 964}, {'i...
3    [{'id': 3, 'name': 'Courageous', 'count': 760}...
4    [{'id': 9, 'name': 'Ingenious', 'count': 3202}...
Name: ratings, dtype: object

# count the total no of ratings received by each talk

In [16]:
def num_ratings(list_of_dicts):
    return list_of_dicts[0],['count']

In [17]:
num_ratings(ted.ratings_list[0])

({'id': 7, 'name': 'Funny', 'count': 19645}, ['count'])

In [18]:
def num_ratings(list_of_dicts):
    num=0
    for d in list_of_dicts:
        num=num+d['count']
        return num

In [19]:
num_ratings(ted.ratings_list[0])

19645

In [20]:
ted.ratings_list[1]

[{'id': 7, 'name': 'Funny', 'count': 544},
 {'id': 3, 'name': 'Courageous', 'count': 139},
 {'id': 2, 'name': 'Confusing', 'count': 62},
 {'id': 1, 'name': 'Beautiful', 'count': 58},
 {'id': 21, 'name': 'Unconvincing', 'count': 258},
 {'id': 11, 'name': 'Longwinded', 'count': 113},
 {'id': 8, 'name': 'Informative', 'count': 443},
 {'id': 10, 'name': 'Inspiring', 'count': 413},
 {'id': 22, 'name': 'Fascinating', 'count': 132},
 {'id': 9, 'name': 'Ingenious', 'count': 56},
 {'id': 24, 'name': 'Persuasive', 'count': 268},
 {'id': 23, 'name': 'Jaw-dropping', 'count': 116},
 {'id': 26, 'name': 'Obnoxious', 'count': 131},
 {'id': 25, 'name': 'OK', 'count': 203}]

In [21]:
num_ratings(ted.ratings_list[1])

544

In [22]:
ted.ratings_list.apply(num_ratings).head()

0    19645
1      544
2      964
3      760
4     3202
Name: ratings_list, dtype: int64

In [23]:
sum((d['count'] for d in ted.ratings_list[0]))

93850

In [24]:
ted.ratings_list.apply(lambda x:sum((d['count'] for d in x))).head()

0    93850
1     2936
2     2824
3     3728
4    25620
Name: ratings_list, dtype: int64

In [25]:
pd.DataFrame(ted.ratings_list[0])['count'].sum()

93850

In [26]:
ted.ratings_list.apply(lambda x:pd.DataFrame(x)['count'].sum()).head()

0    93850
1     2936
2     2824
3     3728
4    25620
Name: ratings_list, dtype: int64

In [27]:
type(ted.ratings_list.describe())

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 1652, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

pandas.core.series.Series

In [28]:
ted['num_ratings']=ted.ratings_list.apply(num_ratings)

In [29]:
type(ted.num_ratings.describe())

pandas.core.series.Series