In [1]:
from platform import python_version
import numpy as np
import pandas as pd
np.random.seed(42) # set the seed to make examples repeatable

In [2]:
size = 10000
cities = ["paris", "barcelona", "berlin", "new york"]
df = pd.DataFrame(
    {"city": np.random.choice(cities, size=size), "booked_perc": np.random.rand(size)}
)
df["id"] = df.index.map(str) + "-" + df.city
df = df[["id", "city", "booked_perc"]]

In [3]:
df.head(2)

           id      city  booked_perc
0    0-berlin    berlin     0.393636
1  1-new york  new york     0.473436