In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('e://myfiles//covid_19_india.csv')

In [3]:
df.head(2)

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
0,1,30/01/20,6:00 PM,Kerala,1,0,0,0,1
1,2,31/01/20,6:00 PM,Kerala,1,0,0,0,1

In [4]:
df.shape

(708, 9)

In [5]:
df.info

<bound method DataFrame.info of      Sno      Date     Time State/UnionTerritory ConfirmedIndianNational  \
0      1  30/01/20  6:00 PM               Kerala                       1
1      2  31/01/20  6:00 PM               Kerala                       1
2      3  01/02/20  6:00 PM               Kerala                       2
3      4  02/02/20  6:00 PM               Kerala                       3
4      5  03/02/20  6:00 PM               Kerala                       3
..   ...       ...      ...                  ...                     ...
703  704  06/04/20  6:00 PM           Tamil Nadu                       -
704  705  06/04/20  6:00 PM            Telengana                       -
705  706  06/04/20  6:00 PM          Uttarakhand                       -
706  707  06/04/20  6:00 PM        Uttar Pradesh                       -
707  708  06/04/20  6:00 PM          West Bengal                       -

    ConfirmedForeignNational  Cured  Deaths  Confirmed
0                          0      0       0          1
1                          0      0       0          1
2                          0      0       0          2
3                          0      0       0          3
4                          0      0       0          3
..                       ...    ...     ...        ...
703                        -      8       5        571
704                        -     34       7        321
705                        -      4       0         26
706                        -     21       3        305
707                        -     10       3         80

[708 rows x 9 columns]>

In [6]:
df.isna().sum()

Sno                         0
Date                        0
Time                        0
State/UnionTerritory        0
ConfirmedIndianNational     0
ConfirmedForeignNational    0
Cured                       0
Deaths                      0
Confirmed                   0
dtype: int64

In [7]:
df.dtypes

Sno                          int64
Date                        object
Time                        object
State/UnionTerritory        object
ConfirmedIndianNational     object
ConfirmedForeignNational    object
Cured                        int64
Deaths                       int64
Confirmed                    int64
dtype: object

# How many confirmed cases?

In [8]:
df_confirm=df.groupby('Date')['Confirmed'].max()

In [10]:
df_confirm.max()

748

In [14]:
df[df['Confirmed']==748]

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
696,697,06/04/20,6:00 PM,Maharashtra,-,-,56,45,748

df_confirm.sum()

# max no of cases in India

In [ ]:
df