In [2]:
import matplotlib.pyplot as pt
import pandas as pd

In [5]:
df=pd.read_csv('e://myfiles//covid2019.csv')

In [6]:
df.head(1
       )

,Date,Country/Region,Province/State,Lat,Long,Confirmed,Recovered,Deaths
0,1/22/2020,Afghanistan,NaN,33.0,65.0,0.0,0.0,0.0

In [7]:
df.columns=df.columns.str.replace('/','')

In [8]:
df.head(1)

,Date,CountryRegion,ProvinceState,Lat,Long,Confirmed,Recovered,Deaths
0,1/22/2020,Afghanistan,NaN,33.0,65.0,0.0,0.0,0.0

In [11]:
df_c=df.groupby('CountryRegion')['Recovered','Confirmed','Deaths'].max()

C:\Users\Mumin\New folder\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

In [12]:
df_c.head(1)

               Recovered  Confirmed  Deaths
CountryRegion
Afghanistan         10.0      273.0     6.0

In [14]:
df_c['Deaths'].idxmax()

'Italy'